<div class="center-v-h">
<div class="col-lg-4 p-5 shadow bg-white">
        <form [formGroup]="form">
            <h3 class="text-center mb-4">Login</h3>
            <!-- <hr> -->
            <label>E-mail</label>
            <input class="form-control mb-2" type="text" formControlName="email">
            <label>Password</label>
            <input class="form-control mb-2" type="password" formControlName="password">
            <div class="">Dont have an account? <a routerLink="/signup">Signup</a></div>
        <div class="float-end my-3 fs-6"><a routerLink="/forgotpassword">  Forgot Passsword</a></div>
            <button class="btn btn-primary mb-2 w-100" (click)="loginAdmin()">Login</button>
        </form>
    </div>
</div>
