<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>ADMIN</h3>
          <strong>A</strong>
      </div>

      <ul class="list-unstyled components">
          <li>
              <a href="#">
                  <i class="fas fa-home"></i>
                  Home
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fa fa-user"></i>
                  Profile
              </a>
              <a href="#pageSubmenu">
                  <i class="fas fa-user"></i>
                  Users
              </a>
              <!-- <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="#">Send Sms</a>
                  </li>
                  <li>
                      <a href="#">Create Group</a>
                  </li>
                  <li>
                      <a href="#">Create Single Contact</a>
                  </li>
              </ul> -->
          </li>
      </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

              <button type="button" id="sidebarCollapse" class="btn btn-primary">
                  <i class="fas fa-align-left"></i>
              </button>

              <div >
                  <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item">
                        <label class="switch">
                          <input (click)="switchLanguage()" type="checkbox" [checked]="isGerman">
                           <span class="slider round"></span>
                         </label>
                      </li>
                  
                  </ul>
              </div>
          </div>
      </nav>

      <div class="row">

        <div class="col-6 p-5 shadow">
          <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="'pie'">
          
        </canvas>
      </div>
    </div>
    
     
     <p>{{ 'home.title' | translate }}</p>
  </div>
</div>