<div class="container-fluid">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-4 me-2 card shadow">
        <div class="bg-light p-3 m-2">
          <h1>{{allAdmins?.length}}</h1>
          <p>Total Admins</p>
        </div>
      </div>
      <div class="col-md-4 card shadow">
        <div class="bg-light p-3 m-2">
          <h1>{{allUsers?.length}}</h1>
          <p>Total Users</p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-5 p-3 me-2 shadow card">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [colors]="pieChartColors" [chartType]="'pie'">
        </canvas>
      </div>

      <div class="col-5 p-3 shadow card">
        <div style="display: block;">
          <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
            [plugins]="lineChartPlugins"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>