<ngx-spinner type="square-jelly-box" color="#4e6d93"></ngx-spinner>

<div class="wrapper ">
  <nav id="sidebar" class="shadow">
    <div class="sidebar-header">
      <h3>{{'home.admin' | translate}}</h3>
      <strong>A</strong>
    </div>

    <ul class="list-unstyled components">
      <li >
        <a routerLink="/panel" (click)="selectItem('Item 1')" [class.selected]="selectedItem === 'Item 1'">
          <i class="fas fa-table me-2"></i>
          <strong>{{'home.dashboard' | translate}}</strong>
        </a>
      </li>
      <li >
        <a routerLink="users" (click)="selectItem('Item 2')" [class.selected]="selectedItem === 'Item 2'">
          <i class="fas fa-user me-2"></i>
          <strong>{{'home.manageUsers' | translate}}</strong>
        </a>
      </li>
      <li >
        <a  (click)="logout()" [class.selected]="selectedItem === 'Item 3'">
          <i class="fas fa-sign-out-alt me-2"></i>
          <strong>{{'home.logout' | translate}}</strong>
        </a>
      </li>
    </ul>
  </nav>

  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fas fa-bars"></i>
        </button>

        <div>
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <span class="p-1">EN</span>
              <label class="switch">
                <input
                  (click)="switchLanguage()"
                  type="checkbox"
                  [checked]="isGerman"
                />
                <span class="slider round"></span>
              </label>
              <span class="p-1">DE</span>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
