<div class="container-fluid">
    <div class="d-flex mb-2">
        <h2>User List</h2>
        <button class="btn btn-primary ml-auto" routerLink="addUser">Add User</button>
    </div>
    <table class="table">
        <thead class="thead" style="background-color: #21508a; color: #fff;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
          <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
</tbody>
</table>
</div>



