
<section class="content">
    <div class="row">
        
        <div class="card-body">
            <div class="card-title d-flex">
                <h3 class="card-title">Users List</h3>
                <button class="btn btn-primary ml-auto">Add user</button>
            </div>
         

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th class="no-wrap">Id</th>
                            <th class="no-wrap">Firstname</th>
                            <th class="no-wrap">Lastname</th>
                            <th class="no-wrap">E-mail</th>
                        </tr>
                        <tr>
                            <th class="no-wrap">1</th>
                            <th class="no-wrap">Ayush</th>
                            <th class="no-wrap">Dabral</th>
                            <th class="no-wrap">ayu@gmail.com</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>



