<div class="center-v-h">
    <div class="col-lg-4 p-5 shadow bg-white">
        <div title="Back" class="cursor"><a routerLink="/login"><i class="fas fa-arrow-left me-2"></i></a>
        </div>
        <form [formGroup]="forgotForm">
            <h3 class="text-center my-4">Forgot password</h3>
            <label>email</label>
            <input class="form-control mb-2" formControlName="email" type="email">
            <label>Password</label>
            <input class="form-control mb-2" formControlName="password" type="password">
            <label> Confirm Password</label>
            <input class="form-control mb-3" formControlName="confirmPassword" type="password">
            <!-- <div class="float-end my-3 fs-6">Forgot Passsword</div> -->
            <button (click)="submit()" class="btn btn-primary mb-2 w-100"> Submit</button>
        </form>
    </div>
</div>