<div class="container-fluid">
        <div class="cursor "><a routerLink="/panel/users"><i class="fas fa-arrow-left me-2"></i>back</a>
        </div>
    <div class="mt-4">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-4">
                    <label class="form-label">{{'home.firstName' | translate}}</label>
                    <input type="text" class="form-control mb-2" placeholder="" formControlName="firstName">
                </div>
                <div class="col-4">
                    <label class="form-label">{{'home.lastName' | translate}}</label>
                    <input type="text" class="form-control mb-2" placeholder="" formControlName="lastName">
                </div>
                <div class="col-4">
                    <label class="form-label">{{'home.email' | translate}}</label>
                    <input type="email" class="form-control mb-2" formControlName="email">
                </div>
            </div>
            <button type="submit" class="btn btn-primary me-1" (click)="addUser()">Submit</button>
            <button class="btn btn-primary" (click)="cancel()">Cancel</button>
        </form>
    </div>
</div>